
      body {
        font-family: 'League Spartan', sans-serif;
      }
      
      h1 {
        color: hsl(280, 30%, 22%);
        
      }
      
      .lead {
        color:hsl(303, 10%, 53%);

      }
.boite { 
    
    background-color:hsl(300, 24%, 96%);
    
}
.text{
    color: hsl(333, 80%, 67%);
}


.testimony {
    background-color: hsl(300, 43%, 22%);
    
}
p {
    color: hsl(300, 24%, 96%);
    line-height: 1.2em;
    font-weight: 400;
    font-size: 15px;
    
}


